.header{
   background : #3d5afe;
   text-transform: 'uppercase';
   color: white;
   height: 70px;
   width:100%;
   padding-left:1%;
   margin-top: 0%;
   margin-bottom: 2%;
   box-shadow :  0 4px 8px 0 rgba(10,10 ,10, 0.2), 0 6px 20px 0 rgba(10,10,10, 0.19);
    font-size: 100px;
    position: fixed;
    top:0%;
    padding-top: 1.5%;
    left: 0%;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  

}